*.DS_Store
*.pyc
*.xlsx

# data
data/*

# models
models/two-region-model/*

# notebooks
notebooks/scrap*

# scrap
scrap/*

projects/google-cfe/results/*

# scripts
scripts/plotting.py
projects/google-cfe/test.ipynb
models/ASEAN/calibration.yaml
