*.DS_Store
*.pyc
*.xlsx

# data
data/*

# models
models/two-region-model/*

# notebooks
notebooks/scrap*

# scrap
scrap/*

# scripts
models/cost_model.py
scripts/plotting.py
scripts/reshape_cost_data.py
